

.locationDiv,
.searchFormDiv,.orders,.signIn,.country {
  display: flex;
}
.locationDiv{
  padding-left: 5px;
  padding-right: 5px;
}
.locationDiv:hover{
  outline: 1px solid white;
}
.useIcon {
  display: none;
}
.secondSearchForm {
  display: none;
}

@media (max-width: 1300px) {
  .locationDiv,.orders,.signIn,.country {
    display: none;
  }
  .useIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
}

@media (max-width: 850px) {
  .searchFormDiv {
    display: none;
  }

  .secondSearchForm {
    display: flex;
    margin: 10px;
  }
}
