.menuLists li {
  padding: 5px;
}
.menuLists li:hover {
  outline: 1px solid white;
}

@media (max-width: 1375px) {
  .navLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navLists .menuLists {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .steamMovie {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
  }
}

@media (max-width: 1060px) {
  .navLists .menuLists {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: 0;
  }
  .navLists .menuLists::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  .navLists .menuLists li {
    white-space: nowrap;
  }
}
