.sliderContainer {
  position: relative;
  display: flex;
  width: 100vw;
  height: 50vw;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* .sliderItem {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.gradientOverlay {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0),
    rgb(223, 224, 227, 1)
  );
}

.sliderItemImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s all ease;
}

.lastSlide {
  transform: translateX(-100%);
}

.activeSlide {
  opacity: 1;

  transform: translateX(0);
}

.nextSlide {
  transform: translateX(100%);
}

.sliderItem:hover {
  /* Add your hover effect styles here */
}

/* Hide the scrollbar */
.sliderContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
