.hamIcon {
  display: none;
}
.hamburgerMenuLists {
  position: absolute;
  color: black;
  background-color: lightgray;
  z-index: 1000;
  transition: 0.5s all ease;
  transform: translateX(-200%);
}
.hamburgerMenuListsOff {
  display: none;
  transition: 0.5s all ease;
}
.hamburgerMenuListsOn {
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 350px;
  transform: translateX(0%);
}
.menulists > li:hover {
  background-color: #6bc5e3;
}
.Close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  z-index: 100;
  font-size: 35px;
}
@media (max-width: 1040px) {
  .hamIcon {
    display: block;
  }
}
